@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Niconne&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-site-font-family: "Playfair Display", serif;
  --title-text-font-family: "EB Garamond", serif;
  --text-font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden !important;
}

.container {
  /* max-width: 1200px; */
  width: 100%;
  margin: auto;
}

/* body {
  background-color: rgb(62, 97, 106);
} */