.header {
  position: relative;
  z-index: 1111;
}

.header__background {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50.7% 0%;
}

.header__logo-image {
  width: 48px;
  max-width: 46.55px;
  height: 100%;
}

.header__logo-link {
  cursor: pointer;
  display: inline-block;
}

.header__nav-logo {
  z-index: 2222;
}

.header__nav-menu {
  display: none;
}

.header__nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.3px;
  padding: 61px 15px 15px 15px;
  gap: 6px;
}

.header__nav-menu {
  top: -100vh;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 5px;
  z-index: 1;
  background-color: rgb(62, 97, 106);
  opacity: 1;
}

.wrapper-menu {
  display: block;
  width: auto;
  height: auto;
  padding: 6.5px 8px;
  cursor: pointer;
  transition: opacity 0.5s ease, background-color 0.3s ease;
  order: 3;
  color: #000000;
  border-radius: 5px;
  z-index: 121;
}

.wrapper-menu {
  width: 34px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease-out;
}

.wrapper-menu__general {
  background-color: rgb(217, 217, 217);
  z-index: 222;
  position: relative;
  width: 48px;
  height: 51.07px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: rgb(22, 58, 69);
  border-radius: 5px;
  width: 100%;
  height: 2.5px;
}

.wrapper-menu.open .line-menu {
  box-shadow: none;
}

.line-menu.half {
  width: 100%;
}

.line-menu.start {
  transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3.3px) translateY(-9px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3.3px) translateY(9px);
}

.header:not(.nav-visible) .header__nav-menu {
  top: -100vh;
  opacity: 0;
  z-index: 111;
}

.header.nav-visible .header__nav-menu {
  top: 0;
  box-shadow: 0 0 0 100vw transparent, 0 0 0 100vh transparent;
  height: 100vh;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  top: 0;
  opacity: 1;
}

.header:not(.nav-visible) .header__nav-menu {
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}



.header__nav-list {
  list-style: none;
  /* прибирає крапки */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* стовпчик */
  /* gap: 11px; */
  align-items: center;
  /* по центру */
  margin-top: -30px;
  opacity: 90%;
}

.header__nav-list .menu__element-link {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 17.55px;
  color: #fff;
  text-decoration: none;
  /* прибирає підкреслення */
}

.nav-list__link {
  padding: 10px;
}

.header__nav-menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-57px);
  opacity: 90%;
}

.header__nav-menu-top-title {
  text-align: center;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 13.55px;
}

.header__nav-menu-top-title-span {
  font-weight: 700;
}

@media (min-width: 500px) {
  .header__logo-image {
    margin: 10px 0 10px 35px;
  }

  .wrapper-menu {
    margin-right: 35px;
  }
}

@media (min-width: 700px) {
  .header__nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav-menu {
    flex: 2;
    display: flex;
  }

  .header__nav-profile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header__nav-list {
    display: flex;
  }

  .header-top__block-sale-button {
    padding: 5px 15px;
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
  }

  .header-top__block-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .nav-list__link {
    display: flex;
  }

  .social-media-icons {
    margin-left: auto;
  }

  .wrapper-menu,
  .header__nav-title,
  .header-nav__bottom-caption {
    display: none;
  }

  .header__nav {
    width: 100%;
  }

  .header:not(.nav-visible) .header__nav-menu {
    opacity: 1;
  }

  .header.nav-visible .line-menu.end {
    opacity: 1;
  }

  .header.nav-visible .open .line-menu.end {
    opacity: 1;
  }

  .header__nav-menu,
  .header__profile-photo {
    display: block;
  }

  .header__nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    order: 2;
    gap: 8px;
    height: auto;
    background: none;
    padding: 0;
  }

  .header__profile-photo,
  .header__wish-list,
  .header__cart-photo {
    width: 30px;
  }

  .menu__element-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 0 10px 0;
    transition: color 0.3s ease;
    overflow: hidden;
  }

  .menu__element-link::before,
  .menu__element-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-size: 120px 8px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
  }

  .menu__element-link::before {
    bottom: 0px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 Q 10 6 20 3 T 40 3 T 60 3 T 80 3 T 100 3 T 120 3' fill='none' stroke='%23ffd700' stroke-width='2'/%3E%3C/svg%3E");
    animation: waveMove 2s linear infinite;
  }

  .menu__element-link::after {
    bottom: 0px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 Q 10 0 20 3 T 40 3 T 60 3 T 80 3 T 100 3 T 120 3' fill='none' stroke='%23ffd700' stroke-width='2'/%3E%3C/svg%3E");
    animation: waveMove 2s linear infinite;
  }

  .menu__element-link:hover {
    color: #ffd700;
  }

  .menu__element-link:hover::before,
  .menu__element-link:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }

  @keyframes waveMove {
    from {
      background-position-x: 0;
    }

    to {
      background-position-x: 120px;
    }
  }

  .header__nav-icons a {
    display: inline-block;
    transition: color 0.5s ease, transform 0.3s ease;
  }

  .header__nav-icons a:hover {
    color: #8e7021;
    cursor: pointer;
    transform: scale(1.1);
  }

  .header__nav-icons img {
    transition: filter 0.5s ease;
  }

  .header__nav-icons {
    margin-right: 20px;
  }

  .nav-list__link a,
  .menu__element-link {
    font-size: 17px;
    margin: 0 10px;
  }
}

@media (min-width: 1100px) {
  .header__nav-icons {
    gap: 15px;
  }

  .header__nav-list {
    gap: 19px;
  }
}

@media (min-width: 1500px) {
  .container-header {
    margin: 0 auto;
    max-width: 1400px;
  }

  .header__profile-photo,
  .header__wish-list,
  .header__cart-photo {
    width: 35px;
    margin: 5px;
  }

  .header__nav-icons {
    margin-right: 0;
  }
}

@media (min-width: 1600px) {

  .nav-list__link a,
  .menu__element-link {
    font-size: 19px;
  }
}

@media (min-width: 1860px) {

  .nav-list__link a,
  .menu__element-link {
    font-size: 21px;
  }

  .container-header {
    margin: 0 auto;
    max-width: 1860px;
  }
}