.services-section__general {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.services-section__block-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
}

.services-section__general-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -48%) scale(1.2);
    object-fit: cover;
    z-index: -1;
}

.services-section__title-text {
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 21px;
    color: #fff;
    opacity: 90%;
    margin-bottom: 35px;
}

.services-section__real-estate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1.5px solid #fff;
    border-radius: 45px;
    padding: 46px 18px;
    min-width: 278.47px;
    max-width: 278.47px;
}

.services-section__estate-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section__estate-title-text {
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    opacity: 90%;
    width: 140px;
}

.services-section__estate-checkbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-top: 50px;
}

.services-section__estate-checkbox-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    gap: 16px;
}

.services-section__estate-checkbox-box-element {
    width: 25px;
    height: 25px;
    border: 1.5px solid #fff;
    border-radius: 6.5px;
    position: relative;
    transition: all 0.2s ease;
}

.services-section__estate-checkbox-name-text {
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    opacity: 90%;
}

.services-section__estate-checkbox-box.active .services-section__estate-checkbox-box-element {
    background-color: transparent;
    position: relative;
}

.services-section__estate-checkbox-box.active .services-section__estate-checkbox-box-element::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 12px;
    height: 9px;
    background-image: url(../img/services/download_done.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services-section__arrow-image {
    width: 24px;
    height: 17px;
    transform: rotate(90deg);
    margin: 30px;
}

.services-section__agreement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1.5px solid #fff;
    border-radius: 45px;
    padding: 46px 18px;
    min-width: 278.47px;
    max-width: 278.47px;
}

.services-section__agreement-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section__agreement-title-text {
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    opacity: 90%;
    width: 120px;
}

.services-section__agreement-checkbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-top: 50px;
}

.services-section__agreement-checkbox-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    gap: 16px;
}

.services-section__agreement-checkbox-box-element {
    width: 25px;
    height: 25px;
    border: 1.5px solid #fff;
    border-radius: 6.5px;
    position: relative;
    transition: all 0.2s ease;
}

.services-section__agreement-checkbox-name-text {
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    opacity: 90%;
}

.services-section__agreement-checkbox-box.active .services-section__agreement-checkbox-box-element {
    background-color: transparent;
    position: relative;
}

.services-section__agreement-checkbox-box.active .services-section__agreement-checkbox-box-element::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 12px;
    height: 9px;
    background-image: url(../img/services/download_done.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services-section__final-standart-image {
    width: 278.47px;
    height: 368.91px;
    border-radius: 30px;
}

.arrow-image-end {
    margin-bottom: 24px;
}

.services-section__button-active {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 13px;
    border: 0;
    border-radius: 30px;
    background: #0b90a3;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    font-family: var(--text-font-family);
    cursor: pointer;
    height: 45px;
    width: 278.47px;
    opacity: 90%;
}

.services-section__final-block-title-apartment-rent,
.services-section__final-block-title-room-rent,
.services-section__final-block-title-house-rent,
.services-section__final-block-title-garage-rent,
.services-section__final-block-title-earth-rent,
.services-section__final-block-title-commerce-rent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section__final-block-title-apartment-rent-text,
.services-section__final-block-title-room-rent-text,
.services-section__final-block-title-house-rent-text,
.services-section__final-block-title-garage-rent-text,
.services-section__final-block-title-earth-rent-text,
.services-section__final-block-title-commerce-rent-text {
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    opacity: 90%;
    width: 120px;
}

.services-section__final-block-title-earth-rent-text,
.services-section__final-block-title-commerce-rent-text {
    width: 200px;
}

.services-section__final-block-checkbox-apartment-rent,
.services-section__final-block-checkbox-room-rent,
.services-section__final-block-checkbox-house-rent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
}

.services-section__final-block-checkbox-garage-rent,
.services-section__final-block-checkbox-earth-rent,
.services-section__final-block-checkbox-commerce-rent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-top: 33.5px;
}

.services-section__final-block-checkbox-box-apartment-rent,
.services-section__final-block-checkbox-box-room-rent,
.services-section__final-block-checkbox-box-house-rent,
.services-section__final-block-checkbox-box-garage-rent,
.services-section__final-block-checkbox-box-earth-rent,
.services-section__final-block-checkbox-box-commerce-rent {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    gap: 16px;
}

.services-section__final-block-checkbox-box-element-apartment-rent,
.services-section__final-block-checkbox-box-element-room-rent,
.services-section__final-block-checkbox-box-element-house-rent,
.services-section__final-block-checkbox-box-element-garage-rent,
.services-section__final-block-checkbox-box-element-earth-rent,
.services-section__final-block-checkbox-box-element-commerce-rent {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    border: 1.5px solid #fff;
    border-radius: 6.5px;
    position: relative;
    transition: all 0.2s ease;
}

.services-section__final-block-checkbox-name-apartment-rent-text,
.services-section__final-block-checkbox-name-room-rent-text,
.services-section__final-block-checkbox-name-house-rent-text,
.services-section__final-block-checkbox-name-garage-rent-text,
.services-section__final-block-checkbox-name-earth-rent-text,
.services-section__final-block-checkbox-name-commerce-rent-text {
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    opacity: 90%;
}

.services-section__final-block-checkbox-box-apartment-rent.active .services-section__final-block-checkbox-box-element-apartment-rent,
.services-section__final-block-checkbox-box-room-rent.active .services-section__final-block-checkbox-box-element-room-rent,
.services-section__final-block-checkbox-box-house-rent.active .services-section__final-block-checkbox-box-element-house-rent,
.services-section__final-block-checkbox-box-garage-rent.active .services-section__final-block-checkbox-box-element-garage-rent,
.services-section__final-block-checkbox-box-earth-rent.active .services-section__final-block-checkbox-box-element-earth-rent,
.services-section__final-block-checkbox-box-commerce-rent.active .services-section__final-block-checkbox-box-element-commerce-rent {
    background-color: transparent;
    position: relative;
}

.services-section__final-block-checkbox-box-apartment-rent.active .services-section__final-block-checkbox-box-element-apartment-rent::after,
.services-section__final-block-checkbox-box-room-rent.active .services-section__final-block-checkbox-box-element-room-rent::after,
.services-section__final-block-checkbox-box-house-rent.active .services-section__final-block-checkbox-box-element-house-rent::after,
.services-section__final-block-checkbox-box-garage-rent.active .services-section__final-block-checkbox-box-element-garage-rent::after,
.services-section__final-block-checkbox-box-earth-rent.active .services-section__final-block-checkbox-box-element-earth-rent::after,
.services-section__final-block-checkbox-box-commerce-rent.active .services-section__final-block-checkbox-box-element-commerce-rent::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 12px;
    height: 9px;
    background-image: url(../img/services/download_done.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services-section__final-block-general-apartment-rent,
.services-section__final-block-general-room-rent,
.services-section__final-block-general-house-rent,
.services-section__final-block-general-garage-rent,
.services-section__final-block-general-earth-rent,
.services-section__final-block-general-commerce-rent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.services-section__final-block-wrapper-apartment-rent,
.services-section__final-block-wrapper-room-rent,
.services-section__final-block-wrapper-house-rent,
.services-section__final-block-wrapper-garage-rent,
.services-section__final-block-wrapper-earth-rent,
.services-section__final-block-wrapper-commerce-rent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.services-section__final-block-title-apartment,
.services-section__final-block-title-room,
.services-section__final-block-title-house,
.services-section__final-block-title-garage,
.services-section__final-block-title-earth,
.services-section__final-block-title-commerce {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section__final-block-title-apartment-text,
.services-section__final-block-title-room-text,
.services-section__final-block-title-house-text,
.services-section__final-block-title-garage-text,
.services-section__final-block-title-earth-text,
.services-section__final-block-title-commerce-text {
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    opacity: 90%;
    width: 120px;
}

.services-section__final-block-title-earth-text {
    width: 200px;
}

.services-section__final-block-checkbox-apartment,
.services-section__final-block-checkbox-room,
.services-section__final-block-checkbox-house,
.services-section__final-block-checkbox-garage,
.services-section__final-block-checkbox-earth,
.services-section__final-block-checkbox-commerce {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding-top: 33.5px;
}

.services-section__final-block-checkbox-box-apartment,
.services-section__final-block-checkbox-box-room,
.services-section__final-block-checkbox-box-house,
.services-section__final-block-checkbox-box-garage,
.services-section__final-block-checkbox-box-earth,
.services-section__final-block-checkbox-box-commerce {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    gap: 16px;
}

.services-section__final-block-checkbox-box-element-apartment,
.services-section__final-block-checkbox-box-element-room,
.services-section__final-block-checkbox-box-element-house,
.services-section__final-block-checkbox-box-element-garage,
.services-section__final-block-checkbox-box-element-earth,
.services-section__final-block-checkbox-box-element-commerce {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1.5px solid #fff;
    border-radius: 6.5px;
    position: relative;
    transition: all 0.2s ease;
}

.services-section__final-block-checkbox-name-apartment-text,
.services-section__final-block-checkbox-name-room-text,
.services-section__final-block-checkbox-name-house-text,
.services-section__final-block-checkbox-name-garage-text,
.services-section__final-block-checkbox-name-earth-text,
.services-section__final-block-checkbox-name-commerce-text {
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    opacity: 90%;
}

.services-section__final-block-checkbox-box-apartment.active .services-section__final-block-checkbox-box-element-apartment,
.services-section__final-block-checkbox-box-room.active .services-section__final-block-checkbox-box-element-room,
.services-section__final-block-checkbox-box-house.active .services-section__final-block-checkbox-box-element-house,
.services-section__final-block-checkbox-box-garage.active .services-section__final-block-checkbox-box-element-garage,
.services-section__final-block-checkbox-box-earth.active .services-section__final-block-checkbox-box-element-earth,
.services-section__final-block-checkbox-box-commerce.active .services-section__final-block-checkbox-box-element-commerce {
    background-color: transparent;
    position: relative;
}

.services-section__final-block-checkbox-box-apartment.active .services-section__final-block-checkbox-box-element-apartment::after,
.services-section__final-block-checkbox-box-room.active .services-section__final-block-checkbox-box-element-room::after,
.services-section__final-block-checkbox-box-house.active .services-section__final-block-checkbox-box-element-house::after,
.services-section__final-block-checkbox-box-garage.active .services-section__final-block-checkbox-box-element-garage::after,
.services-section__final-block-checkbox-box-earth.active .services-section__final-block-checkbox-box-element-earth::after,
.services-section__final-block-checkbox-box-commerce.active .services-section__final-block-checkbox-box-element-commerce::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 12px;
    height: 9px;
    background-image: url(../img/services/download_done.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services-section__final-block-general-apartment,
.services-section__final-block-general-room,
.services-section__final-block-general-house,
.services-section__final-block-general-garage,
.services-section__final-block-general-earth,
.services-section__final-block-general-commerce {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.services-section__final-block-wrapper-apartment,
.services-section__final-block-wrapper-room,
.services-section__final-block-wrapper-house,
.services-section__final-block-wrapper-garage,
.services-section__final-block-wrapper-earth,
.services-section__final-block-wrapper-commerce {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.services-section__final-block-bottom-apartment {
    background-position: bottom 0 center;
}

.services-section__final-block-apartment,
.services-section__final-block-house,
.services-section__final-block-room,
.services-section__final-block-garage,
.services-section__final-block-earth,
.services-section__final-block-commerce,
.services-section__final-block-garage-rent,
.services-section__final-block-earth-rent,
.services-section__final-block-commerce-rent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1.5px solid #fff;
    border-radius: 45px;
    padding: 36px 18px;
    min-width: 278.47px;
    max-width: 278.47px;
    background-position: top 0 center;
    background-repeat: no-repeat;
    height: 368.91px;
}

.services-section__final-block-apartment {
    background-image: url("../img/services/apartment.webp");
    background-size: 150% 100%;
}

.services-section__final-block-house {
    background-image: url("../img/services/standart-house-some.webp");
    background-size: 100%;
}

.services-section__final-block-room {
    background-image: url("../img/services/room.webp");
    background-size: 150% 100%;
}

.services-section__final-block-garage,
.services-section__final-block-garage-rent {
    background-image: url("../img/services/garage.webp");
    background-size: 100% 100%;
}

.services-section__final-block-earth,
.services-section__final-block-earth-rent {
    background-image: url("../img/services/earth.webp");
    background-size: 100% 100%;
}

.services-section__final-block-commerce,
.services-section__final-block-commerce-rent {
    background-image: url("../img/services/commerce.webp");
    background-size: 100% 100%;
}

.services-section__final-block-apartment-rent,
.services-section__final-block-house-rent,
.services-section__final-block-room-rent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1.5px solid #fff;
    border-radius: 45px;
    padding: 15.98px 18px 29.48px 18px;
    min-width: 278.47px;
    max-width: 278.47px;
    background-position: top 0 center;
    background-repeat: no-repeat;
}

.services-section__final-block-apartment-rent {
    background-image: url("../img/services/apartment.webp");
    background-size: 150% 200%;
}

.services-section__final-block-house-rent {
    background-image: url("../img/services/standart-house-some.webp");
    background-size: 100% 235%;
}

.services-section__final-block-room-rent {
    background-image: url("../img/services/room.webp");
    background-size: 150% 200%;
}

.services-section__final-block-bottom {
    background-position: bottom 0 center;
}

#apartment,
#apartment-rent,
#room,
#room-rent,
#house,
#house-rent,
#garage,
#garage-rent,
#earth,
#earth-rent,
#commerce,
#commerce-rent {
    display: none;
}

[class*="checkbox-box-"].active>[class*="checkbox-box-element-"]::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 12px;
    height: 9px;
    background-image: url(../img/services/download_done.png);
    background-repeat: no-repeat;
    background-size: contain;
}