<section class="callback-fixed-button__modal-general">
    <div class="container">
        <div class="callback-fixed-button" id="callbackButton">
            <div class="callback-fixed-text">
                <div class="callback-fixed-text__block">
                    <p class="callback-fixed-text__general">Потрібна допомога?</p>
                    <p class="callback-fixed-text__general">Залиште повідомлення</p>
                </div>
            </div>
            <img class="callback-fixed__image" src="./img/modal-connect-button/modal-connect-button.png"
                alt="Іконка звʼязку">
        </div>
    </div>
    <div class="callback-menu-overlay" id="callbackMenu">
        <div class="callback-menu-content">
            <button class="callback-menu-close" id="callbackMenuClose">&times;</button>
            <div class="callback-menu-header">
                <img src="./img/logo.png" alt="Логотип" class="callback-menu-logo">
                <div class="callback-menu-form__text-general">
                    <h2 class="callback-menu-form__text">Сервіс підбору квартир,</h2>
                    <h2 class="callback-menu-form__text">будинків, кімнат, гаражів,</h2>
                    <h2 class="callback-menu-form__text">землі та комерційної нерухомості!</h2>
                </div>
            </div>
            <div class="callback-menu-form__general">
                <p class="callback-menu-form__general-text-bottom">Вітаємо!
                    Наразі всі наші консультанти зайняті, але ми готові допомогти Вам.
                    Будь ласка, залиште своє питання та контактні дані – ми обов’язково зв’яжемося з Вами найближчим
                    часом.</p>
                <form class="callback-menu-form">
                    <input type="text" placeholder="Ваше ім'я" required>
                    <input type="tel" placeholder="Номер телефону" required>
                    <input type="email" placeholder="Email" required>
                    <button type="submit">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
</section>