<section class="services-section__form-general">
    <div id="services-modal" class="services-modal">
        <div class="services-modal__content">
            <button class="services-modal__close">&times;</button>
            <div class="services__callback-menu-header">
                <img src="./img/logo.png" alt="Логотип" class="callback-menu-logo">
                <div class="services__callback-menu-form__text-general">
                    <h2 class="services__callback-menu-form__text">Сервіс підбору квартир,</h2>
                    <h2 class="services__callback-menu-form__text">будинків, кімнат, гаражів,</h2>
                    <h2 class="services__callback-menu-form__text">землі та комерційної нерухомості!</h2>
                </div>
            </div>
            <div class="services-modal__form">
                <h2 class="services-modal__title">Залишити заявку</h2>
                <form class="services-modal__form">
                    <input class="services-modal__input" type="text" name="name" placeholder="Ім’я" required>
                    <input class="services-modal__input" type="email" name="email" placeholder="E-mail" required>
                    <input class="services-modal__input" type="tel" name="phone" placeholder="Номер телефону" required>
                    <button class="services-modal__submit" type="submit">Відправити</button>
                </form>
            </div>
        </div>
    </div>
</section>