<section id="our-advantages" class="start-section__general">
    <img class="start-section__image" src="img/start/start-background.webp" alt="Фонове зображення блоку">
    <div class="start-section__background-dop"></div>
    <h2 class="start-section__title-desctop">Ми дуже раді, що Ви завітали на наш сайт</h2>
    <div class="start-section__block-desctop-general">
        <div class="start-section__block-desctop">
            <div class="start-section__content">
                <h2 class="start-section__title">Ми дуже раді, що Ви завітали на наш сайт</h2>
                <div start-section__text-block>
                    <h2 class="start-section__text top-text">Допоможемо за найкращу ціну</h2>
                    <h2 class="start-section__text">купити, продати, орендувати або</h2>
                    <h2 class="start-section__text">здати в оренду нерухоме майно</h2>
                </div>
                <h2 class="start-section__tex-bottom">Що Ви у нас отримаєте?</h2>
            </div>
            <div id="start-section__container" class="start-section__banner"></div>
        </div>
        <div class="start-section__form-general">
            <div class="start-section__form-title">
                <p class="start-section__form-title-text">Є запитання?</p>
                <p class="start-section__form-title-text">Отримайте</p>
                <p class="start-section__form-title-text">безкоштовну консультацію</p>
            </div>
            <form class="start-section__form" action="#" method="post">
                <input type="text" name="name" placeholder="Ім'я" class="start-section__input" required>
                <input type="tel" name="phone" placeholder="Номер телефону" class="start-section__input" required
                    id="phoneInput">
                <input type="email" name="email" placeholder="E-mail" class="start-section__input" required>
                <button type="submit" class="start-section__button">Отримати консультацію</button>
            </form>
        </div>
    </div>
</section>