<section id="work-stages" class="work-stages-section__general">
    <img class="work-stages-section__image" src="img/work-stages/work-stages-background.webp" alt="Фонове зображення">
    <div class="work-stages-section__background"></div>
    <div class="work-stages-section__work-block">
        <div class="work-stages-section__title">
            <p class="work-stages-section__title-text">Етапи роботи з нами</p>
        </div>
        <div class="work-stages-section__block-bottom" id="work-stages__container"></div>
    </div>
    <div class="work-stages-section__form-general">
        <form class="work-stages-section__form">
            <div class="work-stages-section__form-checks">
                <div class="work-stages-section__form-check">
                    <input class="work-stages-section__form-checkbox" type="checkbox" name="agree" required>
                    <span class="work-stages-section__form-checktext">
                        Я погоджуюсь з умовами використання сайту
                    </span>
                </div>
                <div class="work-stages-section__form-check">
                    <input class="work-stages-section__form-checkbox" type="checkbox" name="news" required>
                    <span class="work-stages-section__form-checktext">
                        Отримувати повідомлення про нові оголошення на ринку нерухомості
                    </span>
                </div>
            </div>
            <div class="work-stages-section__form-fields">
                <input class="work-stages-section__form-input" type="text" name="free" placeholder="">
                <input class="work-stages-section__form-input" type="text" name="name" placeholder="Ім’я" required>
                <input class="work-stages-section__form-input" type="tel" name="phone" placeholder="Номер телефону"
                    required>
                <input class="work-stages-section__form-input" type="email" name="email" placeholder="E-mail" required>
            </div>
            <button class="work-stages-section__form-button" type="submit">
                Надіслати
            </button>
        </form>
    </div>
</section>