.start-section__general {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 2200px;
}

.start-section__image {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -30%);
  object-fit: cover;
}

.start-section__content {
  position: relative;
  top: 106px;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  margin: 15.225px;
  max-width: 362.55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.start-section__title,
.start-section__title-desctop {
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  opacity: 90%;
}

.top-text {
  padding-top: 20px;
}

.start-section__text {
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 16px;
}

.start-section__tex-bottom {
  padding-top: 20px;
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 18px;
  opacity: 90%;
}

.start-section__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 264.84px;
  gap: 28px;
  opacity: 90%;
  z-index: 1;
}

.start-section__banner-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1.8px solid #fff;
  padding: 8px;
  border-radius: 40px;
  width: 263.9px;
  height: 138.95px;
}

.start-section__banner-item-title-text {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  padding-bottom: 3px;
}

.start-section__banner-item-image {
  max-width: 50.62px;
  max-height: 67.86px;
  min-width: 50.62px;
  min-height: 67.86px;
  height: auto;
}

.start-section__banner-item-text-text {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.text-one {
  padding-bottom: 3px;
}

.start-section__banner-item-content {
  display: flex;
  flex-direction: column;
}

.start-section__banner-item-image1 {
  max-width: 39.26px;
  max-height: 39.26px;
  min-width: 39.26px;
  min-height: 39.26px;
  height: auto;
  margin: 8px 8px 8px 3.36px;
}

.start-section__banner-item-image2 {
  max-width: 39.8px;
  max-height: 39.8px;
  min-width: 39.8px;
  min-height: 39.8px;
  height: auto;
  margin: 8px 8px 8px 2.82px;
}

.start-section__banner-item-image3 {
  max-width: 50.63px;
  max-height: 50.63px;
  min-width: 50.63px;
  min-height: 50.63px;
  height: auto;
  margin: 8px 0px 8px 0px;
}

.start-section__form-general {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 46px 22px;
  z-index: 1;
  margin-top: 117px;
  border: 1.89px solid #ffffff;
  border-radius: 40px;
  margin-bottom: 171px;
}

.start-section__form-title-text {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  color: #fff;
  font-family: var(--text-font-family);
  font-weight: 500;
  margin: 0;
  opacity: 90%;
}

.start-section__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 70px;
}

.start-section__input {
  background: transparent;
  border: 1.7px solid rgba(255, 255, 255);
  padding: 10px 15px;
  font-size: 15px;
  font-family: var(--text-font-family);
  color: #fff;
  border-radius: 30.72px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 214px;
}

.start-section__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.start-section__input:focus {
  border-color: #008aa2;
}

.start-section__button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 13px;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(135deg, #008aa2, #008aa2);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  font-family: var(--text-font-family);
  cursor: pointer;
  height: 45px;
  opacity: 90%;
  transition: all 0.25s ease-in-out;
}

.start-section__button:hover {
  background: linear-gradient(135deg, #0fa9bd, #13c2d9);
  transform: translateY(2px);
}

.start-section__button:active {
  background: linear-gradient(135deg, #09808f, #0b90a3);
  transform: translateY(0) scale(0.97);
}

.start-section__title-desctop {
  display: none;
}

.start-section__block-desctop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-section__block-desctop-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 425px) {
  .start-section__input {
    width: 230px;
  }

  .start-section__form-general {
    padding: 46px;
  }
}

@media (min-width: 640px) {
  .start-section__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper-menu__general {
    margin-right: 20px;
  }

  .start-section__form-general {
    padding: 46px 55px;
  }

  .start-section__input {
    width: 270px;
  }
}

@media (min-width: 1024px) {
  .start-section__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  .start-section__background-dop {
    width: 100%;
    height: 244.21px;
    background-color: rgba(0, 138, 162, 0.4);
    position: absolute;
    z-index: 0;
  }

  .start-section__title-desctop {
    display: flex;
    position: relative;
    margin-top: 27.58px;
  }

  .start-section__title {
    display: none;
  }

  .start-section__content {
    position: relative;
    top: 106px;
    transform: translateY(0);
    top: 0;
  }

  .start-section__block-desctop-general {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: flex-start;
    gap: 70px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .start-section__form-general,
  .start-section__block-desctop {
    margin-top: 56.27px;
    margin-bottom: 0;
  }

  .start-section__title-desctop {
    font-size: 28px;
  }

  .top-text {
    padding-top: 0;
  }

  .start-section__content {
    margin-top: 0;
  }

  .start-section__banner {
    top: 0;
    gap: 14px;
  }

  .start-section__text {
    font-size: 26px;
    opacity: 90%;
    text-align: left;
  }

  .start-section__content {
    max-width: 100%;
    margin: 0;
    margin-bottom: 21.05px;
  }

  .start-section__tex-bottom {
    font-size: 22px;
    padding-top: 67px;
  }

  .start-section__banner-item-title-text,
  .text-one,
  .start-section__banner-item-text-text {
    font-size: 9px;
  }

  .start-section__banner-item-image {
    max-width: 25.07px;
    max-height: 33.6px;
    min-width: 25.07px;
    min-height: 33.6px;
  }

  .start-section__banner-item-image1 {
    max-width: 19.44px;
    max-height: 19.44px;
    min-width: 19.44px;
    min-height: 19.44px;
  }

  .start-section__banner-item-image2 {
    max-width: 19.71px;
    max-height: 19.71px;
    min-width: 19.71px;
    min-height: 19.71px;
  }

  .start-section__banner-item-image3 {
    max-width: 25.07px;
    max-height: 25.07px;
    min-width: 25.07px;
    min-height: 25.07px;
  }

  .start-section__banner-item {
    padding: 4px;
    width: 130.67px;
    height: 68.8px;
    border-radius: 20px;
  }

  .start-section__form-title-text {
    font-size: 12px;
  }

  .start-section__input {
    padding: 5px 8px;
    font-size: 9px;
    border-radius: 30.72px;
    width: 182.93px;
  }

  .start-section__button {
    font-size: 11px;
    padding: 5px 9px;
    margin-top: 35px;
    width: 182.93px;
    height: 30px;
  }

  .start-section__form-general {
    padding: 32px 25px;
    border-radius: 20px;
  }

  .start-section__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 27.68px;
  }

  .start-section__button {
    margin-top: 25px;
  }

  .start-section__general {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .start-section__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -30%) scale(2.79);
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .start-section__general {
    margin: 0 auto;
  }

  .start-section__title-desctop {
    font-size: 32px;
  }

  .start-section__text {
    font-size: 30px;
  }

  .start-section__tex-bottom {
    font-size: 26px;
  }

  .start-section__banner-item-title-text,
  .text-one,
  .start-section__banner-item-text-text {
    font-size: 13px;
  }

  .start-section__banner-item {
    width: 205px;
    height: 100px;
    border-radius: 30px;
  }

  .start-section__banner-item-image {
    max-width: 35px;
    max-height: 46.91px;
    min-width: 35px;
    min-height: 46.91px;
  }

  .start-section__banner-item-image2 {
    max-width: 29.7px;
    max-height: 29.7px;
    min-width: 29.7px;
    min-height: 29.7px;
  }

  .start-section__banner-item-image1 {
    max-width: 29.44px;
    max-height: 29.44px;
    min-width: 29.44px;
    min-height: 29.44px;
  }

  .start-section__banner-item-image3 {
    max-width: 35.07px;
    max-height: 35.07px;
    min-width: 35.07px;
    min-height: 35.07px;
  }

  .start-section__form-title-text {
    font-size: 16px;
  }

  .start-section__input {
    padding: 7px 11px;
    font-size: 13px;
    width: 240px;
  }

  .start-section__button {
    font-size: 13px;
    padding: 7px 13px;
    margin-top: 45px;
    width: 240px;
    height: 35px;
  }

  .start-section__background-dop {
    height: 272.21px;
  }
}

@media (min-width: 1400px) {
  .start-section__title-desctop {
    font-size: 38px;
  }

  .start-section__text {
    font-size: 36px;
  }

  .start-section__tex-bottom {
    font-size: 32px;
  }

  .start-section__form-title-text {
    font-size: 20px;
  }

  .start-section__input {
    padding: 8px 12px;
    font-size: 16px;
    width: 310px;
  }

  .start-section__button {
    font-size: 16px;
    padding: 8px 13px;
    margin-top: 50px;
    width: 310px;
    height: 40px;
  }

  .start-section__block-desctop-general {
    gap: 105px;
  }

  .start-section__background-dop {
    height: 298.21px;
  }
}

@media (min-width: 1500px) {
  .start-section__title-desctop {
    font-size: 42px;
  }

  .start-section__text {
    font-size: 40px;
  }

  .start-section__tex-bottom {
    font-size: 36px;
  }

  .start-section__background-dop {
    height: 303.21px;
  }
}

@media (min-width: 1860px) {
  .start-section__title-desctop {
    font-size: 52px;
  }

  .start-section__text {
    font-size: 48px;
  }

  .start-section__tex-bottom {
    font-size: 41px;
  }

  .start-section__banner-item-title-text,
  .text-one,
  .start-section__banner-item-text-text {
    font-size: 16px;
  }

  .start-section__banner-item {
    width: 245px;
    height: 129px;
    border-radius: 40px;
  }

  .start-section__banner-item-image {
    max-width: 47px;
    max-height: 63px;
    min-width: 47px;
    min-height: 63px;
  }

  .start-section__banner-item-image2 {
    max-width: 36.45px;
    max-height: 36.45px;
    min-width: 36.45px;
    min-height: 36.45px;
  }

  .start-section__banner-item-image1 {
    max-width: 36.95px;
    max-height: 36.95px;
    min-width: 36.95px;
    min-height: 36.95px;
  }

  .start-section__banner-item-image3 {
    max-width: 47px;
    max-height: 47px;
    min-width: 47px;
    min-height: 47px;
  }

  .start-section__form-title-text {
    font-size: 22px;
  }

  .start-section__input {
    padding: 10px 16px;
    font-size: 18px;
    width: 343px;
  }

  .start-section__button {
    font-size: 18px;
    padding: 7px 13px;
    margin-top: 45px;
    width: 343px;
    height: 50px;
  }

  .start-section__background-dop {
    height: 328.21px;
  }

  .start-section__block-desctop-general {
    gap: 185px;
  }
}
