.work-stages-section__general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 35px 50px 35px;
  max-width: 2200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.work-stages-section__work-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-stages-section__image {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-47%, -18%) scale(1.25);
  object-fit: cover;
}

.work-stages-section__title-text {
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 17px;
  padding-top: 25px;
  color: #fff;
  opacity: 90%;
}

.work-stages-section__block-bottom {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  padding-top: 35px;
}

.work-stages-section__work-name {
  width: 100px;
  height: 100px;
  border: 1.47px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  opacity: 90%;
}

.work-stages-section__work-name-text {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  opacity: 90%;
}

.work-stages-section__work-image {
  transform: scale(1.12);
}

.work-stages-section__work-description-text {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 90%;
  text-align: center;
  min-width: 135px;
  min-height: 22px;
  max-width: 140px;
}

.work-stages-section__work-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12.85px;
}

.work-stages-section__work-arrow-image {
  width: 24px;
  height: 17px;
}

.work-stages-section__work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 38px;
}

.work-stages-section__work-circle,
.work-stages-section__work-description-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-arrow-images {
  display: none;
}

.step-two,
.step-four,
.step-six,
.work-description-text__none {
  display: none;
}

.work-stages-section__work-description-general {
  position: relative;
  top: -19%;
}

.work-description-general-none-two,
.work-description-general-none-four,
.work-description-general-none-six {
  display: none;
}

.work-stages-section__form-general {
  z-index: 1;
  padding-top: 21px;
}

.work-stages-section__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 860px;
  gap: 12px;
  font-family: Arial, sans-serif;
  color: #fff;
}

.work-stages-section__form-checks {
  display: grid;
  gap: 12px;
}

.work-stages-section__form-check {
  display: flex;
  align-items: center;
  gap: 12px;
}

.work-stages-section__form-checkbox {
  appearance: none;
  min-width: 20px;
  min-height: 20px;
  border: 1.39px solid #fff;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 3.09px;
  cursor: pointer;
}

.work-stages-section__form-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.work-stages-section__form-fields {
  display: grid;
  gap: 12px;
  width: 278.47px;
  opacity: 90%;
}

.work-stages-section__form-input {
  width: 100%;
  padding: 10px 15px;
  border: 1.39px solid #fff;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-family: var(--text-font-family);
  font-weight: 400;
  outline: none;
  height: 41px;
}

.work-stages-section__form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.work-stages-section__form-input:focus {
  border-color: #9fe1ea;
  box-shadow: 0 0 0 4px rgba(56, 193, 210, 0.2);
}

.work-stages-section__form-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 13px;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(135deg, #008aa2, #008aa2);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  font-family: var(--text-font-family);
  cursor: pointer;
  height: 45px;
  width: 278.47px;
  opacity: 90%;
  transition: all 0.25s ease-in-out;
}

.work-stages-section__form-button:hover {
  background: linear-gradient(135deg, #0fa9bd, #13c2d9);
  transform: translateY(2px);
}

.work-stages-section__form-button:active {
  background: linear-gradient(135deg, #09808f, #0b90a3);
  transform: translateY(0) scale(0.97);
}

.work-stages-section__form-checktext {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  opacity: 90%;
}

@media (min-width: 500px) {
  .work-stages-section__title-text {
    font-size: 20px;
  }

  .work-stages-section__general {
    padding-top: 25px;
  }

  .work-stages-section__work-name {
    width: 120px;
    height: 120px;
    border: 1.7px solid #fff;
  }

  .work-stages-section__work-name-text {
    font-size: 20px;
  }

  .work-stages-section__work-description-text {
    font-size: 13px;
  }

  .work-stages-section__work-description-text {
    min-width: 170px;
    min-height: 31px;
    max-width: 170px;
  }

  .work-stages-section__work-arrow-image {
    width: 20px;
    height: 13px;
  }

  .work-stages-section__form {
    gap: 14px;
  }

  .work-stages-section__form-checktext {
    font-size: 12px;
  }

  .work-stages-section__form-checkbox {
    min-width: 15px;
    min-height: 15px;
  }

  .work-stages-section__form-input {
    font-size: 12px;
    height: 32px;
  }

  .work-stages-section__form-fields {
    width: 310px;
    gap: 14px;
  }

  .work-stages-section__form-button {
    width: 310px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 4.5px;
    top: 1.5px;
    width: 4px;
    height: 8px;
  }
}

@media (min-width: 767px) {
  .work-stages-section__block-bottom {
    display: grid;
    grid-template-columns: 25% 12.5% 25% 12.5% 25%;
    padding-top: 35px;
  }

  .step-two,
  .step-four {
    display: flex;
  }

  .work-description-general-none-two,
  .work-description-general-none-four {
    display: flex;
  }

  .work-description-general-none-trhee {
    display: none;
  }

  .work-stages-section__form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 550px;
  }

  .work-stages-section__form-input:first-child {
    grid-column: 1 / -1;
  }

  .work-stages-section__form {
    gap: 30px;
  }

  .work-stages-section__form-checktext {
    font-size: 13px;
  }

  .work-stages-section__form-checkbox {
    min-width: 15.5px;
    min-height: 15.5px;
  }

  .work-stages-section__form-input {
    font-size: 11px;
  }

  .work-stages-section__form-button {
    width: 170px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 5px;
  }

  .work-stages-section__form-general {
    padding-top: 35px;
  }

  .work-stages-section__form-general {
    background-color: #003943;
    padding: 20px;
    border-radius: 40px;
  }

  .work-stages-section__form-checks {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .work-stages-section__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -56%) scale(1.5);
    object-fit: cover;
  }

  .work-stages-section__block-bottom {
    grid-template-columns: 12% 5.6% 12% 5.6% 12% 5.6% 12% 5.6% 12% 5.6% 12%;
    padding: 48px 0 19px 0;
    margin-bottom: 46px;
  }

  .work-description-general-none-trhee {
    display: flex;
  }

  .work-stages-section__title-text {
    font-size: 22px;
  }

  .work-stages-section__work-name-text {
    font-size: 13px;
  }

  .work-stages-section__work-description-text {
    font-size: 9px;
  }

  .work-stages-section__work-name {
    width: 69.87px;
    height: 69.87px;
  }

  .work-stages-section__work-description-text {
    min-width: 124.93px;
    min-height: 22px;
    max-width: 124.93px;
  }

  .work-stages-section__work-arrow-image {
    width: 10.67px;
    height: 7.67px;
  }

  .work-stages-section__background {
    width: 100%;
    height: 140.8px;
    background-color: rgba(0, 138, 162, 0.4);
    position: absolute;
    z-index: 0;
    transform: translateY(-104px);
  }

  .work-stages-section__form-checktext {
    font-size: 10px;
  }

  .work-stages-section__form-checkbox {
    min-width: 10px;
    min-height: 10px;
  }

  .work-stages-section__form-fields {
    gap: 15px;
    width: 459.2px;
  }

  .work-stages-section__form-input {
    height: 21.67px;
    padding: 9px 6px;
    font-size: 9px;
  }

  .work-stages-section__form-button {
    font-size: 11px;
    height: 30px;
    width: 143.06px;
  }

  .work-stages-section__form {
    gap: 18px;
  }

  .work-stages-section__form-general {
    border-radius: 22px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 3px;
    top: 1px;
    width: 2px;
    height: 5px;
  }

  .work-stages-section__image {
    transform: translate(-39%, -28%) scale(2.79);
  }
}

@media (min-width: 1200px) {
  .work-stages-section__block-bottom {
    padding: 60px 0 19px 0;
  }

  .work-stages-section__title-text {
    font-size: 26px;
  }

  .work-stages-section__work-name-text {
    font-size: 17px;
  }

  .work-stages-section__work-description-text {
    font-size: 13px;
  }

  .work-stages-section__work-name {
    width: 90px;
    height: 90px;
  }

  .work-stages-section__work-description-text {
    min-width: 150px;
    min-height: 31px;
    max-width: 150px;
  }

  .work-stages-section__work-arrow-image {
    width: 17px;
    height: 12px;
  }

  .work-stages-section__background {
    height: 175px;
  }

  .work-stages-section__form-fields {
    gap: 17px;
    width: 570px;
  }

  .work-stages-section__form-checktext {
    font-size: 12px;
  }

  .work-stages-section__form-input {
    height: 24px;
    padding: 11px 8px;
    font-size: 11px;
  }

  .work-stages-section__form-button {
    font-size: 13px;
    height: 35px;
    width: 178.66px;
  }

  .work-stages-section__form-general {
    padding: 22px;
  }

  .work-stages-section__form {
    gap: 20px;
  }

  .work-stages-section__form-checkbox {
    min-width: 12px;
    min-height: 12px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 3.5px;
    top: 0.5px;
    width: 3px;
    height: 7px;
  }

  .work-stages-section__general {
    padding-bottom: 50px;
  }
}

@media (min-width: 1400px) {
  .work-stages-section__block-bottom {
    padding: 70px 0 19px 0;
  }

  .work-stages-section__title-text {
    font-size: 28px;
  }

  .work-stages-section__work-name-text {
    font-size: 19px;
  }

  .work-stages-section__work-description-text {
    font-size: 14px;
  }

  .work-stages-section__work-name {
    width: 100px;
    height: 100px;
  }

  .work-stages-section__work-description-text {
    min-width: 160px;
    min-height: 33px;
    max-width: 160px;
  }

  .work-stages-section__work-arrow-image {
    width: 19px;
    height: 14px;
  }

  .work-stages-section__background {
    height: 185px;
    transform: translateY(-118px);
  }

  .work-stages-section__form-fields {
    gap: 19px;
    width: 650px;
  }

  .work-stages-section__form {
    gap: 22px;
  }

  .work-stages-section__form-checktext {
    font-size: 14px;
  }

  .work-stages-section__form-input {
    height: 32px;
    padding: 15px 10px;
    font-size: 13px;
  }

  .work-stages-section__form-button {
    font-size: 16px;
    height: 40px;
    width: 204px;
  }

  .work-stages-section__form-general {
    padding: 24px;
  }

  .work-stages-section__form-checkbox {
    min-width: 13px;
    min-height: 13px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 4px;
    top: 1px;
  }

  .work-stages-section__general {
    padding-bottom: 85px;
    padding-top: 65px;
  }
}

@media (min-width: 1500px) {
  .work-stages-section__block-bottom {
    padding: 80px 0 19px 0;
  }

  .work-stages-section__title-text {
    font-size: 30px;
  }

  .work-stages-section__work-name-text {
    font-size: 21px;
  }

  .work-stages-section__work-description-text {
    font-size: 16px;
  }

  .work-stages-section__work-name {
    width: 110px;
    height: 110px;
  }

  .work-stages-section__work-description-text {
    min-width: 180px;
    min-height: 38px;
    max-width: 180px;
  }

  .work-stages-section__work-arrow-image {
    width: 21px;
    height: 15px;
  }

  .work-stages-section__background {
    height: 200px;
    transform: translateY(-124px);
  }

  .work-stages-section__form-fields {
    gap: 21px;
    width: 700px;
  }

  .work-stages-section__form {
    gap: 24px;
  }

  .work-stages-section__form-checktext {
    font-size: 16px;
  }

  .work-stages-section__form-input {
    height: 36px;
    padding: 17px 12px;
    font-size: 15px;
  }

  .work-stages-section__form-button {
    width: 219.34px;
  }

  .work-stages-section__form-checkbox {
    min-width: 14px;
    min-height: 14px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 4.2px;
    top: 0.5px;
    width: 3.5px;
    height: 8.5px;
  }

  .work-stages-section__general {
    padding-bottom: 100px;
    padding-top: 80px;
  }
}

@media (min-width: 1860px) {
  .work-stages-section__block-bottom {
    padding: 90px 0 19px 0;
  }

  .work-stages-section__title-text {
    font-size: 41px;
  }

  .work-stages-section__work-name-text {
    font-size: 24px;
  }

  .work-stages-section__work-description-text {
    font-size: 18px;
  }

  .work-stages-section__work-name {
    width: 131px;
    height: 131px;
  }

  .work-stages-section__work-description-text {
    min-width: 235px;
    min-height: 38px;
    max-width: 235px;
  }

  .work-stages-section__work-arrow-image {
    width: 21px;
    height: 15px;
  }

  .work-stages-section__background {
    height: 264px;
    transform: translateY(-134px);
  }

  .work-stages-section__general {
    padding-top: 100px;
  }

  .work-stages-section__form-fields {
    gap: 24px;
    width: 820px;
  }

  .work-stages-section__form {
    gap: 27px;
  }

  .work-stages-section__form-checktext {
    font-size: 18px;
  }

  .work-stages-section__form-input {
    height: 42px;
    padding: 20px 17px;
    font-size: 18px;
  }

  .work-stages-section__form-button {
    font-size: 18px;
    height: 50px;
    width: 257.34px;
  }

  .work-stages-section__form-checkbox {
    min-width: 16.49px;
    min-height: 16.49px;
  }

  .work-stages-section__form-general {
    padding: 24px;
  }

  .work-stages-section__form-checkbox:checked::after {
    left: 4.5px;
    top: 0.5px;
    width: 5px;
    height: 10.5px;
  }

  .work-stages-section__general {
    padding-bottom: 133px;
    padding-top: 133px;
  }
}
